.level-box {
  background-color: rgb(157, 156, 154);
  border: 3px solid rgb(97, 97, 97);
  border-radius: 2px;
  padding: 5px;
  width: 90%;
  height: 2rem;
  display: flex;
  cursor: pointer;
}

.level-box > span {
  font-weight: bold;
}

.active {
  height: 6rem;
}
