.skill-list {
  /* width: 30%; */
  background-color: rgb(119, 158, 107);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
}

.skill-list > h5 {
  text-align: center;
}

.individual-skill {
  display: flex;
  align-content: flex-end;
}
.individual-skill > label {
  margin-right: auto;
}
