.attribute-hotbar {
  background-color: dimgrey;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 49% 49%;
}
