.level-zero {
  /* background-color: rgb(236, 161, 131); */
  display: grid;
  justify-items: center;
  border: 2px solid black;
  border-radius: 3px;
  padding: 1px;
  margin-right: 2px;
}

.level-zero > form {
  justify-self: start;
  margin: 5%;
}

.select-dropdown {
  width: 80%;
}

.heritage-dropdown {
  display: flex;
  align-content: flex-end;
}
