.level-zero {
  width: 25%;
  background-color: rgb(236, 161, 131);
  display: grid;
  justify-items: center;
}

.level-zero > form {
  justify-self: start;
  margin: 5%;
}

.select-dropdown {
  width: 80%;
}

.heritage-dropdown {
  display: flex;
  align-content: flex-end;
}
