.item-a {
  grid-area: header;
  background-color: #522e2c;
  height: 70px;
  display: flex;
  color: #fff;
}

.item-b {
  grid-area: level;
}

.item-c {
  grid-area: skills;
}

.item-d {
  grid-area: action;
  /* background-color: rgb(57, 59, 167); */
}

.item-e {
  grid-area: sidebar;
  /* background-color: rgb(165, 167, 57); */
}

.item-f {
  grid-area: health;
}

.container {
  background-image: linear-gradient(#cbae63, rgba(119, 120, 124, 0));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px 60px auto;
  grid-template-areas:
    'header header header header'
    'level health health sidebar'
    'level skills action sidebar';
}
