.health-hotbar {
  display: grid;
  grid-template-columns: 90% 10%;
  /* background-color: silver; */
  height: 100%;
  /* place-items: center;     This ruins the health bar  */
  border: 2px solid black;
  border-radius: 3px;
}

.ac {
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  height: 100%;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.healthbar {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 5px;
}

.healthbar::before {
  content: '';
  background-color: red;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
}
.current-health {
  background-color: green;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 4px;
  width: 50%;
  z-index: 1;
  transition: 0.4s ease;
}
