.attribute-block {
  background-color: #9d9c9a;
  border: 2px solid black;
  max-width: 100px;
  width: 75px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
}

.attribute-label {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.attribute-mod {
  font-size: 28px;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.attribute-main {
  justify-content: center;
  align-items: center;
  display: flex;
}
